In this recitation, we will be using the dataset PollingData.csv. Please download this dataset to your computer, and save it in a location that you can easily navigate to in R. This data comes from RealClearPolitics.com.

IMPORTANT NOTE: On some operating systems, the imputed results will be slightly different even if you set the random seed. This is just due to the randomess involved in the multiple imputation process. We've provided the imputed data here: PollingData_Imputed.csv. If your results are not matching after the imputation, you can use this dataset instead.

In [1]:
import pandas as pd
from pandas import Series, DataFrame
import numpy as np
import seaborn as sns
sns.set_style('darkgrid')

from scipy import stats
import statsmodels.formula.api as smf
import statsmodels.api as sm

import matplotlib.pyplot as plt
%matplotlib inline

from sklearn.cross_validation import train_test_split
# from sklearn import datasets, linear_model, metrics
import sklearn.linear_model as lm

#import itertools
#import pandas_datareader.data as pdweb
#from pandas_datareader.data import DataReader
#from datetime import datetime
#from io import StringIO

In [21]:
polling = pd.read_csv('../data/PollingData_Imputed.csv')
polling[:5]

     State  Year  Rasmussen  SurveyUSA  DiffCount  PropR  Republican
0  Alabama  2004         11         18          5    1.0           1
1  Alabama  2008         21         25          5    1.0           1
2   Alaska  2004         19         21          1    1.0           1
3   Alaska  2008         16         18          6    1.0           1
4  Arizona  2004          5         15          8    1.0           1

In [22]:
polling.isnull().sum()

State         0
Year          0
Rasmussen     0
SurveyUSA     0
DiffCount     0
PropR         0
Republican    0
dtype: int64

In [23]:
polling.info

<bound method DataFrame.info of               State  Year  Rasmussen  SurveyUSA  DiffCount     PropR  \
0           Alabama  2004         11         18          5  1.000000
1           Alabama  2008         21         25          5  1.000000
2            Alaska  2004         19         21          1  1.000000
3            Alaska  2008         16         18          6  1.000000
4           Arizona  2004          5         15          8  1.000000
5           Arizona  2008          5          3          9  1.000000
6           Arizona  2012          8          5          4  0.833333
7          Arkansas  2004          7          5          8  1.000000
8          Arkansas  2008         10          7          5  1.000000
9          Arkansas  2012         13         21          2  1.000000
10       California  2004        -11        -11         -8  0.000000
11       California  2008        -27        -24         -5  0.000000
12       California  2012        -12        -14         -6  0.000000
13         Colorado  2004          5          3          9  1.000000
14         Colorado  2008         -4         -1        -15  0.000000
15         Colorado  2012          3         -2         -5  0.307692
16      Connecticut  2004        -20        -33         -3  0.000000
17      Connecticut  2008        -17        -16         -4  0.000000
18      Connecticut  2012         -7        -13         -8  0.000000
19         Delaware  2004        -20        -16         -2  0.000000
20         Delaware  2008        -15        -30         -4  0.000000
21          Florida  2004          3          1          0  0.500000
22          Florida  2008          1         -3        -13  0.157895
23          Florida  2012          2          0          6  0.666667
24          Georgia  2004          8         12          4  1.000000
25          Georgia  2008          5          7          9  1.000000
26          Georgia  2012          5          8          4  1.000000
27           Hawaii  2004         12          4          2  0.750000
28           Hawaii  2008        -41        -24         -1  0.000000
29           Hawaii  2012        -22        -24         -2  0.000000
..              ...   ...        ...        ...        ...       ...
115  South Carolina  2008         11          8          5  1.000000
116  South Carolina  2012         19         23          1  1.000000
117    South Dakota  2004         10          8          4  1.000000
118    South Dakota  2008          9          7          4  1.000000
119    South Dakota  2012          9         16          1  1.000000
120       Tennessee  2004          6         18          7  1.000000
121       Tennessee  2008         12          8          5  1.000000
122       Tennessee  2012         32         24          1  1.000000
123           Texas  2004         19         22          2  1.000000
124           Texas  2008         10          7          5  1.000000
125           Texas  2012          9         12          4  1.000000
126            Utah  2004         11         18          3  1.000000
127            Utah  2008         32         30          3  1.000000
128            Utah  2012         34         22          1  1.000000
129         Vermont  2004        -15        -16         -2  0.000000
130         Vermont  2008        -24        -24         -2  0.000000
131        Virginia  2004          6          4          5  1.000000
132        Virginia  2008         -4         -4        -18  0.000000
133        Virginia  2012          2         -2         -4  0.333333
134      Washington  2004         -8         -4        -10  0.000000
135      Washington  2008        -11        -16         -6  0.000000
136      Washington  2012        -13        -14         -8  0.000000
137   West Virginia  2004          6          5          6  1.000000
138   West Virginia  2008          9         15         11  1.000000
139   West Virginia  2012         14         19          1  1.000000
140       Wisconsin  2004         -1         -5          1  0.533333
141       Wisconsin  2008         -7        -16        -12  0.000000
142       Wisconsin  2012          0         -4         -8  0.000000
143         Wyoming  2004         31         30          1  1.000000
144         Wyoming  2008         19         21          3  1.000000

     Republican
0             1
1             1
2             1
3             1
4             1
5             1
6             1
7             1
8             1
9             1
10            0
11            0
12            0
13            1
14            0
15            0
16            0
17            0
18            0
19            0
20            0
21            1
22            0
23            0
24            1
25            1
26            1
27            0
28            0
29            0
..          ...
115           1
116           1
117           1
118           1
119           1
120           1
121           1
122           1
123           1
124           1
125           1
126           1
127           1
128           1
129           0
130           0
131           1
132           0
133           0
134           0
135           0
136           0
137           1
138           1
139           1
140           0
141           0
142           0
143           1
144           1

[145 rows x 7 columns]>

In [5]:
simple = polling[['Rasmussen','SurveyUSA','PropR','DiffCount']]
simple.describe()

        Rasmussen   SurveyUSA       PropR   DiffCount
count  145.000000  145.000000  145.000000  145.000000
mean     2.048276    1.358621    0.525943   -1.268966
std     15.427848   16.611440    0.466495    6.353318
min    -41.000000  -33.000000    0.000000  -19.000000
25%    -10.000000  -11.000000    0.000000   -6.000000
50%      3.000000    1.000000    0.625000    1.000000
75%     12.000000   16.000000    1.000000    4.000000
max     39.000000   30.000000    1.000000   11.000000

In [14]:
simple.isnull().sum()

Rasmussen    0
SurveyUSA    0
PropR        0
DiffCount    0
dtype: int64

In [16]:
simple.notnull().sum()

Rasmussen    145
SurveyUSA    145
PropR        145
DiffCount    145
dtype: int64

In [17]:
imputed = pd.read_csv('../data/PollingData_Imputed.csv')
imputed[:5]

     State  Year  Rasmussen  SurveyUSA  DiffCount  PropR  Republican
0  Alabama  2004         11         18          5    1.0           1
1  Alabama  2008         21         25          5    1.0           1
2   Alaska  2004         19         21          1    1.0           1
3   Alaska  2008         16         18          6    1.0           1
4  Arizona  2004          5         15          8    1.0           1

In [24]:
polling['Rasmussen'] = imputed['Rasmussen']
polling['SurveyUSA'] = imputed['SurveyUSA']

In [25]:
polling.isnull().sum()

State         0
Year          0
Rasmussen     0
SurveyUSA     0
DiffCount     0
PropR         0
Republican    0
dtype: int64

In [31]:
# we have 145 rows, when we should have 150 (50 states * 3 cycles of elections)

pd.crosstab(index=[], columns=polling['Year'])

Year
2004    50
2008    50
2012    45
Name: __dummy__, dtype: int64